<div id="bsm_contact">
  <div class="col-md-12 col-sm-12 col-xs-12 bsm_title_section" style="margin-top: 30px">
    <h1 style="color:  #3366ff">{$title_website}</h1></br>
  </div>
</div>
<div class="container">
   <div class="col-md-12 col-sm-12 col-xs-12">
       <div class="row">
           <div class="bsm_contact_content">
               <div class="col-md-6 col-sm-6 col-xs-6">
                   <div class="bsm_contact_text">
                       <p style="margin-left: 160px;font-size: 20px; color: red; text-decoration: underline; text-decoration-color: black">Địa chỉ: {$address}</p>
                   </div>
               </div>
               <div class="col-md-6 col-sm-6 col-xs-6">
                   <div class="bsm_contact_text">
                       <p style="padding-left:60px;font-size: 20px; color: red; text-decoration: underline; text-decoration-color: black">Số điện thoại: {$phone_number}</p></br></br>
                   </div>
               </div>
            </div>
      </div>
</div>
