/**
 * Magiccart
 * @category    Magiccart
 * @copyright   Copyright (c) 2014 Magiccart (http://www.magiccart.net/)
 * @license     http://www.magiccart.net/license-agreement.html
 * @Author:Magiccart<team.magiccart@gmail.com>
 * @@Create Date:2014-08-20 14:47:18
 * @@Modify Date: 2016-07-11 09:37:06
 * @@Function:*/

 .anav-container{/*background-color: #ffffff; border: 2px solid #ececec;border-radius: 5px;*/ clear:both; margin-bottom: 20px;}
 .nav-accordion{width:100%}
 ul.nav-accordion{line-height:0.5em;list-style:none;margin:0;/*padding: 0px 13px 17px;*/float: none !important;}
 ul.nav-accordion li{position:relative;}
 ul.nav-accordion li{color: #444444;line-height: 35px;padding: 0;width: 100%;}
 ul.nav-accordion li.level0{/*border-bottom: 1px solid #dddddd;*/}
 ul.nav-accordion li.parent:first-child ul.level0,ul.nav-accordion li li.parent:first-child,ul.nav-accordion li li.parent ul li:first-child{/*border-top: 1px solid #dddddd;*/}
 ul.nav-accordion li.last {/*  border-bottom: 0 none; */}
 ul.nav-accordion li a{position: relative;font-size:14px;margin:0;/*padding:0 0 0 15px;*/text-align:left;text-decoration:none;text-shadow:none;color:#333e48;outline:medium none;}
 ul.nav-accordion li a span{font-size: 14px;}
 ul.nav-accordion li.active  > a{font-weight: bold;}
 ul.nav-accordion li a:hover,ul.nav-accordion li:hover span.collapse:before,ul.nav-accordion li ul li:hover a::before,.all-cat:hover span{color: #4d94ff;}
 ul.nav-accordion li ul li a{padding:0 0 0 0px;line-height: 30px;}
 ul.nav-accordion li ul li a span{font-size: 14px;}
 ul.nav-accordion li ul li.parent >a:before{}
 ul.nav-accordion ul{display:none;margin:5px 0 0;padding:0px;}
 ul.nav-accordion ul ul{display:none;margin:0;padding:0px;}
 ul.nav-accordion ul li{clear:both;margin:0;padding:0}
 ul.nav-accordion ul li a{
    font-weight: 600;
    color: #F57F17;
    outline: none;
    padding-left: 15px;
  }
 ul.nav-accordion ul li.active{font-weight:normal;}
 ul.nav-accordion ul ul li a{font-size:14px;padding: 0 0 0 45px;}
 ul.nav-accordion ul ul ul li a{margin-left:20px}
 ul.nav-accordion li span.expand,ul.nav-accordion li span.collapse{cursor:pointer;display:block;font-size:0;height:19px;position:absolute;right:0px;top:0;width:19px;}
 ul.nav-accordion li li span.expand,ul.nav-accordion li li span.collapse {top:5px;}
 ul.detail-parent{margin:0;padding:0 0 0 17px}
 .navbar .btn-navbar{background-image:none!important;border-radius:2px 2px 2px 2px;box-shadow:none!important;float:left!important;margin:9px!important;padding-left:10px!important;padding-right:10px!important}
 .navbar .brand{font-size:130%!important;font-weight:bold!important;margin:0!important;padding-left:20px!important;text-shadow:none!important;text-transform:uppercase!important}
 .navbar .btn-navbar .icon-bar{background-color:#FFFFFF!important}
 ul.nav-accordion li.level0 > a > span > .cat-label{position:inherit}
 ul.nav-accordion li.level0 > a > span > .pin-bottom:before{position:inherit;right:6px;top:22px;width:0;height:0;content:"";border-style:solid;border-width:0}
 ul.nav-accordion li span.expand:before{content: "ï…‡";}
 ul.nav-accordion li span.collapse:before{content: "ï†–";}
 ul.nav-accordion li span.collapse:before,
 ul.nav-accordion li span.expand:before{color: #acacac;font-family: FontAwesome;display: inline-block;font-size: 14px;text-align: center;width: 19px;line-height: 35px;}
 ul.nav-accordion li ul li span.collapse:before,
 ul.nav-accordion li ul li span.expand:before{line-height: 25px;}
 ul.nav-accordion li span.collapse:hover:before{color: #ff5555;}
 .nav-accordion>li:nth-child(n+10) { display: none; }
 .all-cat { display: block; text-align: left;padding-bottom: 10px;}
 .all-cat span {cursor: pointer;display: block;text-align: left;width: 100%;clear: both;font-size: 14px;padding: 5px;color: #333;}
