	<div class="login">
		<div class="container">
			<h2 class="h2Login">Đăng Nhập</h2>
			<div class="login-form-grids animated wow slideInUp" data-wow-delay=".5s">
				{if isset($smarty.session.giohang)}
					<div class="alert alert-warning" role="alert">
	            		Vui lòng đăng nhập để tiếp tục mua hàng!!!
					</div>  
				{/if}
				<form method="post">
					<input type="email" name="email" placeholder="Email" required=" " value="{if isset($smarty.post.email)}{$smarty.post.email}{/if}">
					<input type="password" name="mat_khau" placeholder="Mật Khẩu" required=" ">
				
					<input type="submit" name="btnDangNhap" value="Đăng Nhập">
				</form>
			</div>
			<h4>Dành cho khách hàng mới</h4>
			<p><a style="color: #4d94ff"" href="dang-ki.html">Đăng kí tại đây</a> (Hoặc) trở vể <a style="color: #4d94ff" href=".">Trang chủ <span class="fa fa-angle-right" aria-hidden="true"></span></a></p>
		</div>
	</div>