<!DOCTYPE html>
<html lang="en">
    <head>
      <base href="http://php1220e-6.itpsoft.com.vn/shop_hoa/" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- WEBSITE TITLE & DESCRIPTION -->
        <link rel="icon" href="public/images/{$favicon}" type="image/x-icon">
        <link rel="shortcut icon" href="public/images/{$favicon}" type="image/x-icon" />
        <title>{$title} | {$title_website}</title>
        <meta name="description" content="{$description_website}" />
        <meta name="keywords" content="{$keywords_website}">
        <meta itemprop="image" content="{$image_seo}" />
        <meta property="og:url" itemprop="url" content="{$url_seo}" />
        <meta property="og:title" content="{$title} | {$title_website}" />
        <meta property="og:description" content="{$description_website}" />
        <meta property="og:image" content="{$image_seo}" />
        <!-- STYLE CSS -->
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="public/css/bootstrap.min.css">
        <link rel="stylesheet" href="public/css/font-awesome.min.css">
        <link rel="stylesheet" href="public/css/animate.css">
        <link rel="stylesheet" type="text/css" href="public/css/css-font.css" media="all" />
        <link rel="stylesheet" href="public/css/danh-muc-css.css">
        <link rel="stylesheet" href="public/css/style.css" />
        <link rel="stylesheet" href="public/css/cart.css">
        <link rel="stylesheet" href="public/css/aos.css">
        <link rel="stylesheet" href="public/css/jquery.range.css">
        <link rel="stylesheet" href="public/css/responsive.css">
        <!-- STYLE FONTS -->
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Play" media="all" />
        <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        <!-- JS alert -->
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    </head>
    <body id="bsm_page_home" class="bsm_style_pink_violet bsm_page_home container-fluid">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.11&appId=1925421851050773';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>