<div class="col-sm-4"> <div class="card mb-3">
  <div class="card-header">
    <i class="fa fa-pie-chart"></i>Số lượng đồng hồ theo thương hiệu</div>
  <div class="card-body">
    <canvas id="myCanvas" width="50%" height="50" ></canvas>
  </div>
</div>
</div>
