<div class="container">
    <div class="breadcrumbs">
        <div class="container">
            <ul style="background-color: #4d94ff">
                <li class="home">
                    <a href="." title="Trở về trang chủ">Trang chủ</a>
                    </li>
                <li class="category4">
                    <a href="" title="">{$hoa->TenLoai}</a>
                    </li>
                <li class="category22">
                    <strong>{$hoa->TenHoa}</strong>
                </li>
                <li>
                </li>
            </ul>
        </div>
    </div>
</div>
