<div class="short-description hidden-xs">
    <div class="magic-category clearfix">
        <div class="block-title-tabs clearfix">
            <ul class="magictabs">
                <li class="item active loaded">
                    <span class="title" data-toggle="tab" href="#menu1">Thông tin chi tiết</span>
                </li>
                <li class="item" >
                    <span class="title" data-toggle="tab" href="#menu2">Thông tin kỹ thuật</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
            <p>{$hoa->NoiDung}</p>
        </div>
        <div id="menu2" class="tab-pane fade in">
            <div class="box-collateral box-additional active">
                <table class="data-table" id="product-attribute-specs-table">
                    <colgroup>
                        <col width="25%"><col>
                    </colgroup>
                    <tbody>
                        <tr class="first odd">
                            <th class="label">Chất liệu đồng hồ</th>
                            <td class="data">{$hoa->ThanhPhan}</td>
                        </tr>
                        <tr class="even">
                            <th class="label">Thương hiệu</th>
                            <td class="data">{$hoa->TenLoai}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
