<div class="col-md-7 ">
  <div class="product-right-block">
    <p>• Miễn phí bộ dụng cụ vệ sinh đồng hồ<br>• Miễn Phí giao nội thành Hà Nội</p>
  </div>
  <div class="product-right-block">
    <p>• Tặng miễn phí 1 lọ dung dịch xịt kính<br>• Giảm ngay 1.000.000đ khi Bạn tạo đơn hàng online<br>• Giao miễn phí tại Hà Nội</p>
  </div>
</div>
