    <div class="breadcrumbs">
        <div class="container">
            <ul style="background-color: #4d94ff">
                <li class="home">
                    <a href="." title="Trở về trang chủ">Trang chủ</a>
                </li>
                <li class="category4">
                    <a href="tin_tuc.php" title="">Danh sách tin tức</a>
                </li>
            </ul>
        </div>
    </div>
